@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  height: 105vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #ececec;
}
.logo {
  width: fit-content;
  height: fit-content;
}
.logo h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 1000;
  color: #44af69;
}
.logo h1 span {
  color: #f8333c;
}
.nav {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  padding-right: 1rem;
  border-right: 1px solid #ececec;
}
.tools p {
  color: #1e1e1e;
  font-size: 0.9rem;
}
.signs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  column-gap: 1rem;
}
.signs p {
  color: #1e1e1e;
  font-size: 0.9rem;
}
.signs button {
  padding: 0.4rem 0.9rem;
  border: 0;
  outline: none;
  background-color: #fcab10;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  color: #fff;
}
.body {
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}
.title {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.title h1 {
  font-size: 3.5rem;
  font-weight: 800;
  color: #1e1e1e;
}
.title p {
  font-size: 1.5rem;
  text-align: center;
  color: #a1a1a1;
}
#generateBtn {
  padding: 0.7rem 3rem;
  border: 0;
  outline: none;
  background-color: #f8333c;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 1.5rem;
  cursor: pointer;
}
#generateBtn:hover {
  background-color: #fa1c28;
}
.generator {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}
.color-display {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}
.colors {
  width: fit-content;
  height: auto;
  padding: 4rem 5rem;
  background-color: #c2c2c2;
  text-align: center;
}
